<div class="container">
  <h1><%= @list.name %></h1>
  <% if @list.bookmark.present? %>
    <% @list.bookmarks.each do |b| %>
      <ul>
        <li>
        <%= b.list_id %>
        <%= b.movie_id %>
        <%= b.movie.title %>
        </li>
      </ul>
    <% end %>
  <% else %>
  <%= link_to "Add a bookmark", new_bookmark_path %>
  <% end %>

  <%= link_to "Back to my lists", lists_path %>
</div>
